$iPhone-5S = 320px;
$iPhone-6S = 375px;
$iPhone-6S-Plus = 414px;

$iPhone-5S-landscape = 568px;
$iPhone-6S-landscape = 667px;
$iPhone-6S-Plus-landscape = 736px;

$iPad = 768px;
$iPad-Pro = 1024px;

$MS-Surface-Pro = 720px;
